<div class="container">
    <section class="blog-header">
        <h1>Blog Posts</h1>
    </section>
    <div class="posts-list">
        <% posts.forEach(post => { %>
            <article class="post-item">
                <h2><a href="/post/<%= post.slug %>"><%= post.title %></a></h2>
                <p class="date"><%= new Date(post.date).toLocaleDateString() %></p>
                <div class="post-excerpt">
                    <%- post.content.substring(0, 200).replace(/<[^>]*>/g, '') %>...
                </div>
                <a href="/post/<%= post.slug %>" class="read-more">Read More</a>
            </article>
        <% }); %>
    </div>
</div> 